*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--Nunito);
}
:root{
    --text-white-color:#ededed;
    --Nunito: 'Nunito', cursive;
    --Playfair: 'Playfair', san-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}
.header.sticky{
    background: #00abf0;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}
.logo{
    font-size: 2.5rem;
    font-family: var(--Playfair);
    font-weight: 600;
    color: #00005A;
}
.logo i{
    font-size: 3rem;
}
.navbar a{
    font-size: 1.7rem;
    color: #00005A;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: all 0.5s ease;
}
.navbar a:hover{
    color: #e4d01e;
    scale: 1.05;
}
.navbar a:active{
    scale: 0.95;
}
.navbar .active{
    color: #e4d01e;
}
#menu-icon{
    font-size: 2.5rem;
    color: #00005A;
    cursor: pointer;
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: linear-gradient(135deg, hsla(266, 97%, 57%, 0.253), hsla(230, 96%, 62%, 0.65)), url(./index.png);
    background-position-x: right;
    background-position-y: bottom; background-repeat: no-repeat; padding-bottom: 0;
}
.home-content{
    max-width:  70rem;
}
.home-content h1{
    font-size: 4.5rem;
    font-family: var(--Playfair);
    line-height: 1.5;
    text-shadow: 1px 2px 3px #555555;
}
.home-content h3{
    font-size: 2.5rem;
    font-family: var(--Playfair);
}
.home-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}
.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background-color: transparent;
    border: .2rem solid #00abf0;
    border-radius: .8rem;
    font-size: 1.6rem;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    color: #00abf0;
}
.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #00abf0;
    z-index: -1;
    transition: .5s;
}
.btn-box .btn:hover::before{
    width: 100%;
}
.btn-box .btn:hover{
    color: #fff;
}
.home-sci{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    z-index: 1;
    overflow: hidden;
    transition: all .2s linear;
}
.home-sci a:hover{
    color: #ededed;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;
}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: transparent;
    transition: 3s;
}
.home-imgHover:hover{
    backdrop-filter: blur(8px);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 10rem 9% 0;
}
.heading{
    font-size: 5rem;
    font-family: var(--Playfair);
    text-shadow: 1px 2px 3px #555555;
    text-align: center;
}
.heading-p{
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.about-img{
    position: relative;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #00abf0;
}
.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid transparent;
    border-bottom: .2rem solid transparent;
    border-left: .2rem solid #00abf0;
    border-right: .2rem solid #00abf0;
}
.about-content{
    text-align: center;
}
.about-content{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.btn-box.btns{
    margin-top: 3rem;
    display: inline-flex;
    width: 15rem;
}
.space{
    margin-bottom: 2.5rem;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 4rem;
    background: #fff;
}
.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column{
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    font-family: var(--Playfair);
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid #00abf0;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    background: #00abf0;
    border-radius: 50%;
    left: -.6rem;
    width: 1rem;
    height: 1rem;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    z-index: 1;
}
.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b9ebff;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color: #00abf0;
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;
}
.skills{
    min-height: auto;
    padding-bottom: 4rem;
    background: #fff;
}
.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.skills-row .skills-column{
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b9ebff;
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width: 100%;
}
.skills-content .progress{
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span{
    color: #00abf0;
}
.skills-content .progress .bar{
    height: 1.5rem;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
    padding: .2rem;
    margin: 1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #00abf0;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 62%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 62%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 70%;
}
.contact{
    min-height: auto;
    padding-bottom: 7rem;
    padding: 10rem 5% 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #00abf0;
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: #99abb3;
}
.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #b9ebff;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}
.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}
.contact form .textarea-field textarea{
    resize: none;
}
.contact form .btn-box.btns .btn{
    cursor: pointer;
}
.map-container iframe{
    width: 100%;
    height: 50vh;
    border-radius: 10px;
    filter: grayscale(100%);
}
.home-list{
    margin: 100px 0;
    top: 50px;
    display: flex;
    justify-content: center;
}

.home-list div{
    padding:0 90px;
    font-size: 13px;
    font-weight: 300;
}

.home-list div i{
    font-size: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.home-list div p{
    color: #1f1f1f;
    text-align: center;
    font-size: 19.5px;
    font-family: 'Playfair', sans-serif;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #99abb3;
}
.footer-text p{
    font-size: 1.6rem;
}
.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
    background: #00abf0;
    border: .2rem solid #00abf0;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}
.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9fd3e9;
    z-index: -1;
    transition: .5s;
}
.footer-iconTop a:hover::before{
    width: 100%;
}
.footer-iconTop a i{
    font-size: 2.4rem;
    color: #fff;
}

/* BREAKPOINTS */

/* responsive design */
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
    .home-list{
        display: block;
        top: 0;
    }
    
    .header .nav ul{
        margin-right: 30px;
    }

    .home-list div{
        padding: 40px 0;
        font-size: 13px;
        font-weight: 300;
    }
}
@media(max-width: 991px){
    .header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
    .home{
        padding: 0 4%;
    }
    .footer{
        padding: 2rem 4%;
    }
}
@media(max-width: 768px){
    .header{
        background: #00abf0;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #00005A;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }
    .navbar.active{
        transition-delay: 0s;
        left: 0;
    }
    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #00abf0;
        border-top: .1rem solid rgba(0, 0, 0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }
    .home-imgHover{
        pointer-events: none;
    }
}
@media(max-width: 520px){
    
}